#a11,#a12,#a21,#a22,#a31,#a32,#a41,#a42,#a51,#a52,#a61,#a62,#a71,#a72,#a81,#a82,#a91,#a92,#a101,#a102{
	 visibility: hidden;
}
#nqst1,#nqst2,#nqst3,#nqst4,#nqst5,#nqst6,#nqst7,#nqst8,#nqst9,#nqst10{
	display: none;
}
#a1,#a2{
    transition:all 0.8s ease-out;
 visibility: hidden;
  
}

.NQST{
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 450;
    width: 230px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.SQST{
   border-radius: 4px;
    background-color: red;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 450;
    width: 130px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.butimg{
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 450;
    width: 70%;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.VQST{
	 border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 450;
    width: 100%;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.VMQST{
	 border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 450;
    width: 50%;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.loader {
  border: 16px solid #333333; 
  border-top: 16px solid #4CAF50; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 15%;
}

input[type="number"]{
    padding: 7px;
    opacity: 1;
    font-weight: bold;
    color:white;
}
.espace_1{
    height: 10px;
}
.espace_2{
    height:20px;
}